// Escala de grises basado en Material Design
$gray-100: #ECEFF1;
$gray-200: #CFD8DC;
$gray-300: #B0BEC5;
$gray-400: #90A4AE;
$gray-500: #78909C;
$gray-600: #607D8B;
$gray-700: #546E7A;
$gray-800: #455A64;
$gray-900: #37474F;
$black: #263238;


// Colores Material Design 600
$red: #e53935;
$pink: #D81B60;
$purple: #8E24AA;
$deep-purple: #5E35B1;
$indigo: #3949AB;
$blue: #1E88E5;
$light-blue: #039BE5;
$cyan: #00ACC1;
$teal: #00897B;
$green: #43A047;
$light-green: #7CB342;
$lime: #C0CA33;
$yellow: #FDD835;
$amber: #FFB300;
$orange: #FB8C00;
$deep-orange: #F4511E;
$brown: #6D4C41;
$primary: $light-blue;
$secondary: $gray-500;
$success: $light-green;
$info: $cyan;
$warning: $amber;
$danger: $red;
$light: $gray-200;
$dark: $gray-800;


//colores globales
$global-border-color: $gray-300;
$global-border-width: 2px;
$global-hover-color: $primary;
$global-hover-bg: lighten($primary, 50%);
$body-bg: white;


// Umbral de contraste
$yiq-contrasted-threshold: 195;


// Anchos del container dependiendo los breakpoints
// Nota: Se eliminó el siguiente breakpoint: sm: 540px,
$container-max-widths: (
        md: 720px,
        lg: 960px,
        xl: 1140px
);


// Tipografía
$font-size-base: 1rem; // Se asume que el valor predeterminado es de '16px'
$body-color: $gray-900;
$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-weight-light: 300;
$headings-font-weight: 400;


// Sombras
$box-shadow-sm: 3px 3px 0 rgba($gray-900, .1);
$box-shadow: 4px 4px 0 rgba($gray-900, .1);
$box-shadow-lg: 5px 5px 0 rgba($gray-900, .1);


// Bordes redondeados
$border-radius: 0.35rem;


// Tarjetas
$card-cap-bg: rgba(#30465A, 0.1);
$card-border-color: rgba(#304d62, 0.3);
$card-border-width: $global-border-width;


// Espaciado de columna para mejorar la simetría
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;


// Transiciones
$transition-collapse: height .15s ease;


// Listas deplegables
$dropdown-font-size: 1rem;
$dropdown-border-color: $global-border-color;
$dropdown-border-width: $global-border-width;
$dropdown-link-hover-color: $global-hover-color;
$dropdown-link-hover-bg: $global-hover-bg;


// Formularios
$input-color: $body-color;
$input-placeholder-color: $gray-300;
$input-disabled-bg: $gray-100;
$custom-select-border-width: $global-border-width;
$custom-control-indicator-border-color: $global-border-color;
$input-border-width: $global-border-width;
$input-border-color: $global-border-color;
$input-group-addon-bg: $gray-100;


// Botones
$btn-border-width: $global-border-width;


// List group
$list-group-border-width: $global-border-width;
$list-group-border-color: $global-border-color;
$list-group-action-hover-color: $global-hover-color;
$list-group-hover-bg: $global-hover-bg;


// Paginación
$pagination-border-width: $global-border-width;
$pagination-border-color: $global-border-color;
$pagination-disabled-border-color: $global-border-color;
$pagination-hover-border-color: $global-border-color;
$pagination-hover-bg: $gray-100;


// Pestañas
$nav-tabs-border-width: $global-border-width;
$nav-tabs-border-color: $global-border-color;
$nav-tabs-link-active-border-color: $global-border-color $global-border-color $body-bg;
$nav-tabs-link-hover-border-color: lighten($global-border-color, 10%) lighten($global-border-color, 10%) $nav-tabs-border-color;


// Alerts
$alert-border-width: $global-border-width;


// Modal
$modal-header-border-width: $global-border-width;
$modal-header-border-color: $global-border-color;
$modal-content-border-width: $global-border-width;
$modal-content-border-color: $global-border-color;


// Tablas
$table-border-width: $global-border-width;
$table-border-color: $global-border-color;

// Popover
$popover-border-width: $global-border-width;
$popover-border-color: $global-border-color;

// Tooltips
$tooltip-font-size: 1rem;
$tooltip-max-width: 16rem;
$tooltip-bg: $primary;
$tooltip-opacity: 0.95;
$tooltip-padding-y: .75rem;
$tooltip-padding-x: 1.25rem;
$tooltip-arrow-width: 1.5rem;
$tooltip-arrow-height: 0.75rem;

// Jumbotron
$jumbotron-bg: $gray-100;

// Migas de pan
$breadcrumb-bg: $gray-100;

// Barras de progreso
$progress-bg: $gray-100;


// Badges
$badge-padding-y: 0.5rem;
$badge-padding-x: 1rem;
$badge-pill-padding-x: $badge-padding-x;
$badge-font-weight: bold;
$badge-font-size: 0.8rem;


// Toasts
$toast-max-width: 24rem;
$toast-padding-x: .75rem;
$toast-padding-y: .25rem;
$toast-font-size: 1rem;
$toast-background-color: white;
$toast-border-width: $global-border-width;
$toast-border-color: $global-border-color;
$toast-border-radius: $border-radius;
$toast-box-shadow: $box-shadow;
$toast-header-color: $gray-600;
$toast-header-background-color: $gray-100;
$toast-header-border-color: $global-border-color;